# SMTP / Nodemailer (server-only)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=fizzaijaz11@gmail.com
SMTP_PASS=plqj yvgm syqe lvwj

SMTP_FROM="Fizza Ijaz <fizzaijaz11@gmail.com>"
CONTACT_TO_EMAIL=fizzaijaz11@gmail.com
